{% extends 'app/base.html' %}
{% load humanize %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
<main class="mt-5 pt-3" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid" style="background-color: rgb(255, 255, 255);">
        <h2>Detalles cliente</h2>
        <hr>
       
        <div class="row">
            <div class="col-md-3 mb-3">
           <i class="bi bi-person-bounding-box" style="font-size: 200px; padding-left: 20px;"></i>
            </div>
      
      
            <div class="col-md-9 mb-4">
                <div class="card" style="width: 18rem; border-radius: 20px;">
                    <div class="card-body">
                        <div style="flex: 1;">
                            <p><strong>Rut:</strong> {{ cliente.rut_cliente }}</p>
                            <p><strong>Nombre:</strong> {{ cliente.nombre_cliente }}</p>
                            <p><strong>Apellido Paterno:</strong> {{ cliente.apePaterno }}</p>
                            <p><strong>Apellido Materno:</strong> {{ cliente.apeMaterno }}</p>
                            <p><strong>Correo Electrónico:</strong> {{ cliente.email }}</p>
                            <p><strong>Teléfono:</strong>+56 {{ cliente.fono }}</p>
                        </div>
                    </div>
                  </div>
        
            </div>
        </div>
        <hr>





        
        <div class="table-responsive">
            <h2>Detalles de los Arreglos</h2>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tipo de Servicio o Arreglo</th>
                        <th>Fecha inicio</th>
                        <th>Fecha Término</th>
                        <th>Modelo Bicicleta</th>
                        <th>Estado de Arreglo</th>
                        <th>Total Facturado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for taller in talleres %}
                        <tr>
                            <td>{{ taller.get_tipo_arreglo_display }}</td>
                            <td>{{ taller.fecha_ingreso }}</td>
                            <td>{{ taller.fecha_termino }}</td>
                            <td>{{ taller.modelo_bicicleta }}</td>
                            <td>{{ taller.get_estado_display }}</td>
                            <td> $ {{ taller.valor | intcomma }}</td>
                            <td>
                                <button class="btn bi-file-earmark-text btn-secondary btn-md"></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'listar_cliente' %}" class="btn btn-primary btn-sm" style="float: right;" >ATRAS</a>
    </div>
</div>
</main>
{% endblock %}