{% extends 'app/base.html' %}
{% load humanize %}
{% load static %}
{% block js %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.6/datatables.min.css"/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.9/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<!-- Otros enlaces -->

<!-- Enlaces para Bootstrap Icons y Font Awesome -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
    // Verifica si ya existe una tabla DataTable y la destruye antes de volver a inicializarla
    if ($.fn.DataTable.isDataTable('#example')) {
        $('#example').DataTable().destroy();
    }

    $('#example').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
        },
        dom: 'lBfrtip', // Incluye 'l' para mostrar el selector de longitud de página
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "Todos"]], // Configura las opciones del selector
        buttons: [
            {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel',
                className: 'btn-success',
                title: 'Historial de {{ cliente.nombre_cliente }}', 
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':visible:not(:last-child)'
                },
            },
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV',
                className: 'btn-info',
                title: 'Historial de {{ cliente.nombre_cliente }}', 
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':visible:not(:last-child)'
                },
            },
            {
                extend: 'pdfHtml5',
                text: '<i class="fa fa-file-pdf-o"></i>',
                titleAttr: 'PDF',
                className: 'btn-danger',
                title: 'Historial de {{ cliente.nombre_cliente }}', 
                pageSize: 'LEGAL',
                exportOptions: {
                    columns: ':visible:not(:last-child)'
                },
            },
            {
                extend: 'print',
                text: '<i class="fa fa-solid fa-print"></i>',
                titleAttr: 'Imprimir',
                title: 'Historial de {{ cliente.nombre_cliente }}', 
                className: 'btn-secondary',
                exportOptions: {
                    columns: ':visible:not(:last-child)'
                },
            },
        ],
        customize: function (win) {
            $(win.document.body).find('#example').css({
                'transform': 'rotate(-90deg)',
                'transform-origin': 'left top',
                'white-space': 'nowrap'
            });
        }
    });
});
    </script>
{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<main class="mt-5 pt-3" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid" style="background-color: rgb(255, 255, 255);">
        <h2>Detalles cliente</h2>
        <hr>
        <div class="row" >
            <div class="col-md-3 mb-3" style="padding-left: 50px;">
                <i class="bi bi-person-bounding-box" style="font-size: 200px;"></i>
            </div>
            <div class="col-md-9 mb-4">
                <div class="card" style="width: 25rem; border-radius: 20px;">
                    <div class="card-body">
                        <div style="flex: 1;">
                            <p><strong>Rut:</strong> {{ cliente.formatted_rut  }}</p>
                            <p><strong>Nombre:</strong> {{ cliente.nombre_cliente }}</p>
                            <p><strong>Apellido Paterno:</strong> {{ cliente.apePaterno }}</p>
                            <p><strong>Apellido Materno:</strong> {{ cliente.apeMaterno }}</p>
                            <p><strong>Correo Electrónico:</strong> {{ cliente.email }}</p>
                            <p><strong>Teléfono:</strong> +569 {{ cliente.fono }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            <hr>

            <h2>Detalles de los Arreglos</h2>
            <hr>

            <div class="container-fluid">
                <div class="col-md-12 mb-3" style="padding-top: 10px; padding-bottom: 40px;">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header" style="background-color:#3F3F37 ; color: white;">
                            <span><i class="bi bi-table me-2"></i></span> Historial Arreglos
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped-columns table-hover data-table"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Servicio o Arreglo</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha Término</th>
                                            <th>Modelo Bicicleta</th>
                                            <th>Estado de Arreglo</th>
                                            <th>Total Facturado</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for taller in talleres %}
                                        <tr>
                                            <td>{{ taller.get_tipo_arreglo_display }}</td>
                                            <td>{{ taller.fecha_ingreso }}</td>
                                            <td>{{ taller.fecha_termino }}</td>
                                            <td>{{ taller.modelo_bicicleta |capfirst }}</td>
                                            <td>{{ taller.get_estado_display }}</td>
                                            <td> $ {{ taller.valor | intcomma }}</td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                 

                                </table>

                            </div>
                            <a href="{% url 'listar_cliente' %}" class="btn btn-primary btn-sm"
                                style="float: right;">ATRAS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
