{% extends 'app/base.html' %}


{% load crispy_forms_tags %}
 


{% block contenido %}
<div class="box box3"> 
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1>Crear Agendamiento</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    
                    <h3>Datos Venta</h3>
                    <!-- Formulario de Venta -->
                    <div class="form-group">
                        {{ venta_form|crispy }}
                        {{ cliente_form|crispy }}
                        {{ taller_form|crispy }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'list_taller' %}" value="Cancelar" class="btn btn-danger">Cancelar</a>
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



            <div>
                {% include 'app/paginator.html' %}
            </div>
{% endblock %}