{% extends 'app/base.html' %}

{% block js %}
{% load humanize %}
<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.6/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.9/css/buttons.dataTables.min.css"/>



<script>
  $(document).ready(function () {
      // Verifica si ya existe una tabla DataTable y la destruye antes de volver a inicializarla
      if ($.fn.DataTable.isDataTable('#example')) {
          $('#example').DataTable().destroy();
      }
  
      $('#example').DataTable({
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
          },
          dom: 'lBfrtip', // Incluye 'l' para mostrar el selector de longitud de página
          lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "Todos"]], // Configura las opciones del selector
          buttons: [
              {
                  extend: 'excelHtml5',
                  text: '<i class="fa fa-file-excel-o"></i>',
                  titleAttr: 'Excel',
                  className: 'btn-success',
                  title: 'Historial Taller',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'csvHtml5',
                  text: '<i class="fa fa-file-text-o"></i>',
                  titleAttr: 'CSV',
                  className: 'btn-info',
                  title: 'Historial Taller',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'pdfHtml5',
                  text: '<i class="fa fa-file-pdf-o"></i>',
                  titleAttr: 'PDF',
                  className: 'btn-danger',
                  title: 'Historial Taller',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'print',
                  text: '<i class="fa fa-solid fa-print"></i>',
                  titleAttr: 'Imprimir',
                  title: 'Historial Taller',
                  className: 'btn-secondary',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
          ],
          customize: function (win) {
              $(win.document.body).find('#example').css({
                  'transform': 'rotate(-90deg)',
                  'transform-origin': 'left top',
                  'white-space': 'nowrap'
              });
          }
      });
  });
  </script>

<script>
  $(document).ready(function () {
    $('#example tbody tr').each(function () {
      var fechaTermino = $(this).find('td:eq(4)').text(); // Índice 4 es la columna de Fecha de Término
      var estado = $(this).find('td:eq(1)').text(); // Índice 1 es la columna de Estado visual

      // Convertir la fecha a un objeto Date
      var fechaTerminoObj = new Date(fechaTermino);
      var fechaActualObj = new Date();

      if (fechaTerminoObj < fechaActualObj && estado !== "Atrasado" && estado !== "Terminado") {
        $(this).find('td:eq(1)').text("Atrasado");
        $(this).find('td:eq(13)').text("Atrasado"); // Índice 13 es la columna de Estado real
      }
    });
  });
</script>


<script>
  function eliminarTaller(id) {
    Swal.fire({
      title: "¿Estás Seguro?",
      text: "¿Qué deseas Eliminar este Agendamiento?",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545"
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar-taller/" + id + "/";
        }
      });
  }
</script>

{% endblock %}
{% block contenido %}
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row"
      style="background-color: rgb(237, 239, 241); padding-bottom: 420px; margin: 10px; border-radius: 10px;">
      <div class="col-md-12 mb-3" style="padding-top: 30px;">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header" style="background-color:#3F3F37; color: white;">
            <span><i class="bi bi-table me-2"></i></span> Historial taller
            {% if perms.app.add_taller %}
            <a href="{% url 'agregar_taller' %}" class="btn btn-primary" style="float: right;"> Agregar Agendamiento</a>
            {% endif %}

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-striped-columns table-hover data-table boleta-table">
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Estado</th>
                    <th>Modelo de Bicicleta</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Término</th>
                    <th>Rut cliente</th>
                    <th>Nombre del Cliente</th>
                    <th>Teléfono</th>
                    <th>Tipo de Arreglo</th>
                    <th>Valor del Arreglo</th>
                    <th>Descipción</th>
                    <th>Tipo de Pago</th>
                    <th>Abono</th>
                    <th>Total</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>

                  {% for datos in entity %}
                  <tr>
                    <td>{{ datos.id_taller }}</td>
                    <td style="color: 
                      {% if datos.estado == 0 %}  orange; {% elif datos.estado == 1 %}green;{% else %}red;{% endif %}">
                      {{ datos.get_estado_display }}
                    </td>

                    <td>{{ datos.modelo_bicicleta }}</td>
                    <td>{{ datos.fecha_ingreso }}</td>
                    <td>{{ datos.fecha_termino }}</td>
                    <td>{{ datos.cliente_rut_cliente.formatted_rut }}</td>
                    <td>
                      {{ datos.cliente_rut_cliente.nombre_cliente }} {{ datos.cliente_rut_cliente.apePaterno }} {{ datos.cliente_rut_cliente.apeMaterno }}
                  </td>
                    <td>{{ datos.cliente_rut_cliente.fono }}</td>
                    <td>{{ datos.get_tipo_arreglo_display }}</td>
                    <td>${{ datos.valor | intcomma }}</td>
                    <td>{{ datos.descripcion }}</td>
                    <td>{{ datos.get_estado_pago_display}}</td>
                    <td>${{ datos.abono | intcomma }}</td>
                    <td>${{ datos.total_neto | intcomma }}</td>
                    {% if perms.app.change_venta %}
                    {% if perms.app.delete_venta %}
                    <td id="opciones">
                      <a href="{% url 'modificar_taller' datos.id_taller %}" class="btn bi-pencil-square btn-info btn-md"></a>
                      <a href="#" onclick="eliminarTaller({{datos.id_taller}})" class="btn  bi-trash btn-danger btn-md"></a>
                    </td>
                    {% endif %}
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>{% include 'app/paginator.html' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}