{% extends 'app/base.html' %} {% block js %} {% load humanize%}
<script>
  function eliminarTaller(id) {
    Swal.fire({
      title: "¿Estas Seguro?",
      text: "Que deseas Eliminar este Agendamiento",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-taller/" + id + "/";
      }
    });
  }
</script>

{% endblock %} {% block contenido %}

<h2>Historial de Taller</h2>
{% if perms.app.add_taller %}
<a href="{% url 'agregar_taller' %}" class="btn btn-primary"> Agregar Taller</a>
{% endif %}
<table>
  <tr>
    <th>rut</th>
    <th>Total</th>
    <th>Tipo pago</th>
    <th>Fecha de Inicio:</th>
    <th>Fecha de Término:</th>
    <th>Nombre del Trabajo:</th>
    <th>Estado:</th>
    <th>Modelo de Bicicleta:</th>
    <th>Nombre cliente:</th>

    {% for datos in datos_combinados %}
  </tr>
  {% for datos in datos_combinados %}

  <tr>
    <td>{{ datos.id_taller }}</td>
    <td>${{ datos.total | intcomma }}</td>
    <td>{{ datos.tipopago }}</td>
    <td>{{ datos.fecha_ingreso }}</td>
    <td>{{ datos.fecha_termino }}</td>
    <td>{{ datos.nombre_trabajo }}</td>
    <td>{{ datos.estado }}</td>
    <td>{{ datos.modelo_bicicleta }}</td>
    <td>
      {{ datos.nombre_cliente }} {{ datos.apePaterno }} {{ datos.apeMaterno }}
    </td>
  </tr>
  {% endfor %}
</table>

<div>{% include 'app/paginator.html' %}</div>
{% endblock %}
