{% extends 'app/base.html' %}

{% block js %}
{% load humanize %}
<script>
  function eliminarTaller(id) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¿Que deseas eliminar este Agendamiento?",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-taller/" + id + "/";
      }
    });
  }
</script>
{% endblock %}

{% block contenido %}

<h2>Historial de Taller</h2>
{% if perms.app.add_taller %}
<a href="{% url 'crear_venta' %}" class="btn btn-primary"> Agregar Taller</a>
{% endif %}


<table>
  <tr>

    <th>ID venta</th>
    <th>Estado</th>
    <th>Modelo de Bicicleta</th>
    <th>Rut cliente</th>
    <th>Nombre del Cliente</th>
    <th>Nombre del Trabajo</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de Término</th>
    <th>Tipo de Pago</th>
    <th>Total </th>



  </tr>
  {% for datos in datos_combinados %}
    <tr>
    
      <td>{{ datos.id_venta }}</td>
      <td>{{ datos.estado }}</td>
      <td>{{ datos.modelo_bicicleta }}</td>
      <td>{{ datos.rut_cliente }}</td>
      <td>{{ datos.nombre_cliente }} {{ datos.apePaterno }} {{ datos.apeMaterno }}</td>
      <td>{{ datos.nombre_trabajo }}</td>
      <td>{{ datos.fecha_ingreso }}</td>
      <td>{{ datos.fecha_termino }}</td>
      <td>{{ datos.tipopago }}</td>
      <td>${{ datos.total | intcomma }}</td>
   
    </tr>
  {% endfor %}
</table>

<div>{% include 'app/paginator.html' %}</div>
{% endblock %}
