{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarAgenda(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Agenda",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-taller/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}

            <h2>Historial de Agendamiento</h2>
            <a href="{% url 'agregar_taller' %}" class="btn btn-primary"> Agregar Agendamiento</a>
            <table>
                <tr>
                    <th>nombre_trabajo</th>
                    <th>valor</th>
                    <th>descripción</th>
                    <th>estado</th>
                    <th>fecha</th>
                    <th>Detalle_venta</th>
                    <th>Opciones</th>
                </tr>

                <!--
    nombre_trabajo = models.CharField(max_length=50)
    valor = models.IntegerField()
    descripcion = models.CharField(max_length=100)
    estado = models.CharField(max_length=30)
    fecha = models.DateField
    detalle_venta_detalle_venta_id = models.ForeignKey(Detalle_venta, on_delete = models.PROTECT)
                -->
        
                {% for p in entity %}
        
                    <tr>
                        <td>{{ p.rut_proveedor  }}</td>
                        <td>{{ p.nombre_proveedor  }}</td>
                        <td>{{ p.email  }}</td>
                        <td>{{ p.fono   }}</td>
                        <td>{{ p.categoria  }}</td>
                        <td>{{ p.pagina_web  }}</td>
                        <td><a href="{% url 'modificar_taller' p.rut_proveedor  %}" class="btn btn-info btn-sm">Modificar</a></td>
                        <td><a href="#" onclick="eliminarAgenda({{p.rut_proveedor }})" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
        
                {% endfor %}
            </table>

            <div>
                {% include 'app/paginator.html' %}
            </div>
{% endblock %}