{% extends 'app/base.html' %}

{% block contenido %}

            <h2>Historial de Clientes</h2>
            <a href="{% url 'agregar_cliente' %}" class="btn btn-primary"> Agregar Cliente</a>
            <table>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
        
                {% for p in clientes %}
        
                    <tr>
                        <td>{{ p.rut_cliente  }}</td>
                        <td>{{ p.nombre_cliente  }}</td>
                        <td>{{ p.apePaterno  }}</td>
                        <td>{{ p.apeMaterno  }}</td>
                        <td>{{ p.email  }}</td>
                        <td>{{ p.fono   }}</td>
                        <td><a href="{% url 'modificar_cliente' p.rut_cliente %}" class="btn btn-info btn-sm">Modificar</a></td>
                        <td><a href="{% url 'eliminar_cliente' p.rut_cliente %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
        
                {% endfor %}
            </table>
{% endblock %}