{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarColaborador(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Colaborador",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-colaborador/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}

            <h2>Historial de Colaboradores</h2>
            {% if perms.app.add_producto %}
                <a href="{% url 'agregar_colaborador' %}" class="btn btn-primary"> Agregar Colaborador</a>
            {% endif %}
            <table>
                <tr>
                    <th>Nº</th>
                    <th>Nombre Producto</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Precio Unitario</th>
                    <th>stock</th>
                    <th>categoria</th>
                    <th>Opciones</th>
                </tr>
                       
                {% for p in entity %}
        
                    <tr>
                        <td>{{ p.id_producto  }}</td>
                        <td>{{ p.nombre_producto  }}</td>
                        <td>{{ p.marca  }}</td>
                        <td>{{ p.descripcion  }}</td>
                        <td>{{ p.precio_unitario  }}</td>
                        <td>{{ p.stock  }}</td>
                        <td>{{ p.categoria   }}</td>
                        {% if perms.app.change_producto %}
                            <td><a href="{% url 'modificar_producto' p.id_producto %}" class="btn btn-info btn-sm">Modificar</a></td>
                        {% endif %}
                        {% if perms.app.delete_producto %}
                            <td><a href="#" onclick="eliminarProducto({{p.id_producto}})" class="btn btn-danger btn-sm">Eliminar</a></td>
                        {% endif %}                     
                    </tr>
        
                {% endfor %}
            </table>

            <div>
                {% include 'app/paginator.html' %}
            </div>
{% endblock %}