{% extends 'app/base.html' %}

{% block js %}
  <!-- Estilos de DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <!-- Archivo de idioma en español para DataTables -->
  <script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"></script>

  <script>
    function eliminarColaborador(id) {
      Swal.fire({
        title: "¿Estás Seguro?",
        text: "¿Qué deseas Eliminar este Colaborador?",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Eliminar",
        reverseButtons: true,
        confirmButtonColor: "#dc3545",
      }).then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar-colaborador/" + id + "/";
        }
      });
    }

    $(document).ready(function() {
      // Verificar si la tabla ya es un DataTable
      if (!$.fn.DataTable.isDataTable('#example')) {
        $('#example').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
      } else {
        // Si ya es un DataTable, destruir la instancia anterior y luego inicializarla
        $('#example').DataTable().destroy();
        $('#example').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
          }
        });
      }
    });
  </script>
 



{% endblock %} {% block contenido %}

<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div
      class="row"
      style="
        background-color: rgb(237, 239, 241);
        padding-bottom: 420px;
        margin: 10px;
        border-radius: 10px;
      "
    >
      <div class="col-md-12 mb-3" style="padding-top: 30px">
        <div class="card" style="border-radius: 10px">
          <div class="card-header" style="background-color:#3F3F37 ; color: white;">
            <span><i class="bi bi-table me-2"></i></span> Historial Colaboradores 
            {% if perms.app.add_colaborador %}
            <a href="{% url 'regcolaborador' %}" class="btn btn-primary" style="float: right">Agregar Colaborador</a>
            {% endif %}
          </div>
          
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-striped-columns table-hover data-table" style="width: 100%">
                <thead>
                  <tr>
                    <th>Nombre Usuario</th>
                    <th>Nombre Completo</th>
                    <th>Correo Electrónico</th>
                    <th>Opciones</th>
                  </tr>
                </thead>

                <tbody>
                  {% for p in entity %}
                  <tr>
                    <td>{{ p.username }}</td>
                    <td>{{ p.first_name }} {{ p.last_name }}</td>
                    <td>{{ p.email }}</td>

                    {% if perms.app.change_colaborador %} 
                    {% if perms.app.delete_colaborador %}
                    <td>
                      <a href="{% url 'modificar_colaborador' p.id %}" class="btn btn-info bi-pencil-square btn-md"></a>
                      <a href="#" onclick="eliminarColaborador({{p.id}})" class="btn bi-trash btn-danger btn-md"></a>
                    </td>
                    {% endif %} {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>{% include 'app/paginator.html' %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
