{%  extends 'app/base.html' %}

{%  block contenido %}
{% load crispy_forms_tags %}
<main class="mt-5 pt-3" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
        <div class="card-body" style="background-color: rgb(243, 242, 234); margin: 10px;  border-radius: 10px;">
            <div class="row" >
                <div class="col-12 col-md-6 offset-md-3" style="background-color: rgb(255, 255, 255); border-radius: 10px; ">
                    <h2> Registro Colaborador</h2>
                    <hr>
                    <form  action="" method="post">
                        {% csrf_token %}  
                        
                        {{ form | crispy }}
                       
                        <hr>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'inicio_admin' %}" class="btn btn-danger">Cancelar</a>
                            &nbsp;
                            <button type="submit" value="btnEnviar" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                    {{mensaje}}
                </div>
            </div>
        </div>
        </div>
</main>
{%  endblock %}