{% extends 'app/base.html' %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% load static %}
{% load humanize %}

{% block contenido %}
{% load crispy_forms_tags %}

<script>
    $(document).ready(function () {
        $('#PAGAR').click(function () {
            $('#confirmacionVenta').modal('show');
        });
    });
</script>

<script>
    $(function () {
        $('#staticBackdrop').modal('show');
    });

    $(document).ready(function () {
        $('#openModalBtn').click(function () {
            $('#staticBackdrop1').modal('show');
        });
    });

    $('.close').on('click', function () {
        $('#staticBackdrop').modal('hide');
    });

    document.addEventListener('DOMContentLoaded', function () {
        var formularioVenta = document.getElementById('formularioVenta');
        var listaProductos = document.getElementById('listaProductos');
        var totalInput = document.getElementById('id_total');
        var idProductoInput = document.getElementById('id_producto_id_producto');

        formularioVenta.addEventListener('submit', function (event) {
            event.preventDefault();

            // Continuar con el envío del formulario
            var formData = new FormData(formularioVenta);

            fetch(formularioVenta.action, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Venta creada correctamente.');
                        window.location.href = "{% url 'listar_venta' %}";
                    } else {
                        alert('Hubo un error al crear la venta.');
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud AJAX:', error);
                });
        });

        document.querySelectorAll('.btn-agregar-producto').forEach(function (btn) {
            btn.addEventListener('click', function (event) {
                event.preventDefault();

                var productoId = this.dataset.id;
                var productoNombre = this.dataset.nombre;
                var productoPrecio = parseFloat(this.dataset.precio);

                // Agregar el producto con cantidad manual
                agregarProducto(productoId, productoNombre, productoPrecio, 1); // Inicializar con cantidad 1
            });
        });

        function agregarProducto(productoId, productoNombre, productoPrecio, cantidad) {
            // Verificar si el producto ya está en la lista y actualizar la cantidad
            var productoExistente = Array.from(listaProductos.children).find(function (item) {
                return item.dataset.id === productoId;
            });

            if (productoExistente) {
                var cantidadInput = productoExistente.querySelector('.cantidad-input');
                cantidadInput.value = parseFloat(cantidadInput.value) + cantidad;
            } else {
                agregarItem(listaProductos, idProductoInput, productoId, productoNombre, productoPrecio, cantidad);
                mostrarMensaje('Producto agregado correctamente', 'success');
            }
            
            // Actualizar la cantidad en el formulario
            var cantidadInputForm = document.getElementById('id_cantidad_productos_vendidos');
            cantidadInputForm.value = cantidad;

            // Actualizar el total
            actualizarTotal();
            
            // Actualizar el stock en la interfaz
            actualizarStockEnInterfaz(productoId, cantidad);
        }

        function mostrarMensaje(mensaje, tipo) {
            Swal.fire({
                title: tipo === 'success' ? 'Éxito' : 'Error',
                text: mensaje,
                icon: tipo,
                timer: 1000, // Duración del mensaje en milisegundos (opcional)
                showConfirmButton: false // Oculta el botón de confirmación (opcional)
            });
        }

        function agregarItem(lista, idInput, itemId, itemName, itemPrecio, cantidad) {
            var listItem = document.createElement('li');
            listItem.dataset.id = itemId;
            listItem.classList.add('producto-item');

            var cantidadInput = document.createElement('input');
            cantidadInput.type = 'number';
            cantidadInput.value = cantidad;
            cantidadInput.min = '1';
            cantidadInput.classList.add('cantidad-input');
            cantidadInput.addEventListener('input', function () {
                // Actualizar el subtotal al cambiar la cantidad
                actualizarSubtotal(listItem, itemPrecio);
                // Actualizar el total
                actualizarTotal();
            });

            var eliminarButton = document.createElement('button');
            eliminarButton.textContent = 'Eliminar';
            eliminarButton.addEventListener('click', function () {
                // Eliminar el producto de la lista y actualizar el total
                lista.removeChild(listItem);
                // Actualizar el total
                actualizarTotal();
            });

            var contenidoItem = document.createElement('span');
            contenidoItem.textContent = itemName + ' - Precio: $' + itemPrecio.toFixed(2);

            listItem.appendChild(contenidoItem);
            listItem.appendChild(cantidadInput);
            listItem.appendChild(eliminarButton);

            lista.appendChild(listItem);

            // Asignar el id del producto al input oculto
            idInput.value = itemId;

            // Actualizar el subtotal
            actualizarSubtotal(listItem, itemPrecio);
        }

        function actualizarSubtotal(item, precio) {
            var cantidad = parseFloat(item.querySelector('.cantidad-input').value);
            var subtotal = cantidad * precio;
            item.querySelector('span').textContent = item.querySelector('span').textContent.split(' - Subtotal:')[0] + ' - Subtotal: $' + subtotal.toFixed(2);
        }

        function actualizarTotal() {
            var subtotalesProductos = Array.from(listaProductos.children).map(function (item) {
                return parseFloat(item.querySelector('span').textContent.split('Subtotal: $')[1]);
            });

            var total = subtotalesProductos.reduce(function (acc, subtotal) {
                return acc + (isNaN(subtotal) ? 0 : subtotal);
            }, 0);

            totalInput.value = total.toFixed(2);
        }

        function actualizarStockEnInterfaz(productoId, cantidad) {
            // Encontrar la celda de stock correspondiente y actualizarla
            var stockCell = $(`.stock-cell[data-id='${productoId}']`);
            var stockValue = parseInt(stockCell.text());

            if (!isNaN(stockValue)) {
                stockValue -= cantidad;
                stockCell.text(stockValue);

                // Actualizar el color según el nuevo valor de stock
                if (stockValue < 5) {
                    stockCell.css('background-color', 'red');
                    stockCell.css('color', 'white');
                } else {
                    stockCell.css('background-color', 'green');
                    stockCell.css('color', 'white');
                }
            }
        }

        // Confirmar la venta
        $('#confirmarVentaBtn').click(function () {
            var detalleVentaBody = $('#detalleVentaBody');

            // Limpiar el cuerpo de la tabla antes de agregar los nuevos detalles
            detalleVentaBody.empty();

            // Iterar sobre los productos en la lista
            Array.from(listaProductos.children).forEach(function (item) {
                var cantidad = parseFloat(item.querySelector('.cantidad-input').value);
                var nombreProducto = item.querySelector('span').textContent.split(' - Precio')[0];
                var subtotal = cantidad * parseFloat(item.dataset.precio);

                // Agregar una fila a la tabla de detalles
                detalleVentaBody.append('<tr>' +
                    '<td>' + nombreProducto + '</td>' +
                    '<td>' + cantidad + '</td>' +
                    '<td>$' + subtotal.toFixed(2) + '</td>' +
                    '<td>' + 'Efectivo' + '</td>' +
                    '</tr>');
            });

            // Ocultar el modal de confirmación de venta
            $('#confirmacionVenta').modal('hide');
        });
    });
</script>

{{ block.super }}
<script>
    $(document).ready(function () {
        // Obtén todas las celdas de stock
        var stockCells = $('.stock-cell');

        // Itera sobre cada celda y aplica el color según el valor de stock
        stockCells.each(function () {
            var stockValue = parseInt($(this).text());

            // Aplica el color rojo si el stock es menor que 5, de lo contrario, verde
            if (stockValue < 5) {
                $(this).css('background-color', 'red');
                $(this).css('color', 'white');  // Cambia el color del texto para que sea legible
            } else {
                $(this).css('background-color', 'green');
                $(this).css('color', 'white');  // Cambia el color del texto para que sea legible
            }
        });
    });
</script>

<main>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" style="padding-top: 100px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h1 class="modal-title fs-8" id="staticBackdropLabel">Crear Venta</h1>
                </div>
                <div class="modal-body">
                    <form action="{% url 'agregar_venta' %}" method="post" id="formularioVenta" enctype="multipart/form-data">
                        <div>
                            {% if user.is_authenticated %}
                                <p><strong>Nombre vendedor : </strong>{{ user.username|upper }}</p>
                            {% endif %}
                        </div>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-footer">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'listar_venta' %}" value="Cancelar" class="btn btn-danger">Cancelar</a>
                                &nbsp;
                                <button id="PAGAR" type="submit" class="btn btn-success">PAGAR</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <!-- Botón para abrir el modal de productos y Taller -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalProductos">Seleccionar Producto</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalTalleres">Seleccionar Agendamiento</button>
                    <hr>
                    <!-- Lista para mostrar productos seleccionados -->
                    <ul id="listaProductos"></ul>
                    <!-- Lista para mostrar talleres seleccionados -->
                    <ul id="listaTalleres"></ul>
                    <!-- Campo oculto para almacenar el total -->
                    <input type="hidden" id="id_total" name="total" value="0.00">
                    <!-- Campos ocultos para almacenar los IDs de producto y taller -->
                    <input type="hidden" id="id_producto_id_producto" name="producto_id_producto">
                    <input type="hidden" id="id_taller_id_taller" name="taller_id_taller">

                    {{ mensaje }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de productos -->
    <div class="modal fade" id="modalProductos" tabindex="-1" aria-labelledby="modalProductosLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalProductosLabel">Listado de Productos</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="overflow: scroll;">
                    <table class="table table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre Producto</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.id_producto }}</td>
                                    <td>{{ producto.nombre_producto }}</td>
                                    <td class="stock-cell">{{ producto.stock }}</td>
                                    <td>${{ producto.precio_unitario | intcomma }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-agregar-producto" style="float: inline-end;"
                                                data-id="{{ producto.id_producto }}" data-nombre="{{ producto.nombre_producto }}"
                                                data-precio="{{ producto.precio_unitario }}">
                                            Agregar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
   <!-- Modal de talleres -->
<div class="modal fade" id="modalTalleres" tabindex="-1" aria-labelledby="modalTalleresLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTalleresLabel">Listados de Agendamientos</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow: scroll;">
                <table class="table table-hover" id="myTableTalleres">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Datos Cliente</th>
                            <th>Tipo de Arreglo</th>
                            <th>Precio</th>
                            <th>Abono</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taller in talleres %}
                            <tr>
                                <td>{{ taller.id_taller }}</td>
                                <td>{{ taller.cliente_rut_cliente.formatted_rut }} - {{ taller.cliente_rut_cliente.nombre_cliente }} {{ taller.cliente_rut_cliente.apePaterno }} {{ taller.cliente_rut_cliente.apeMaterno }}</td>
                                <td>{{ taller.get_tipo_arreglo_display }}</td>
                                <td>${{ taller.valor | intcomma }}</td>
                                <td>{{ taller.abono }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-agregar-taller" style="float: inline-end;"
                                            data-id="{{ taller.id_taller }}" data-nombre="{{ taller.nombre_taller }}"
                                            data-precio="{{ taller.precio_taller }}" data-cliente-nombre="{{ taller.cliente.nombre_cliente }}"
                                            data-cliente-rut="{{ taller.cliente.rut_cliente }}">
                                        Agregar
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Agrega esta sección a tu script -->
<script>
    var listaTalleres = [];  // Lista para almacenar los talleres seleccionados

    document.querySelectorAll('.btn-agregar-taller').forEach(function (btn) {
        btn.addEventListener('click', function (event) {
            event.preventDefault();

            var tallerId = this.dataset.id;
            var tallerNombre = this.dataset.nombre;
            var tallerPrecio = parseFloat(this.dataset.precio);
            var clienteNombre = this.dataset.clienteNombre;
            var clienteRut = this.dataset.clienteRut;

            // Agregar el taller a la lista
            agregarTallerALista(tallerId, tallerNombre, tallerPrecio, clienteNombre, clienteRut);
        });
    });

    function agregarTallerALista(tallerId, tallerNombre, tallerPrecio, clienteNombre, clienteRut) {
        var tallerExistente = listaTalleres.find(function (taller) {
            return taller.id === tallerId;
        });

        if (tallerExistente) {
            // Si el taller ya está en la lista, puedes actualizar la cantidad u otros detalles si es necesario
            tallerExistente.cantidad += 1;
        } else {
            // Agregar el nuevo taller a la lista
            listaTalleres.push({
                id: tallerId,
                nombre: tallerNombre,
                precio: tallerPrecio,
                cantidad: 1,
                clienteNombre: clienteNombre,
                clienteRut: clienteRut
            });

            // Mostrar mensaje o realizar otras acciones si es necesario
            mostrarMensaje('Taller agregado correctamente', 'success');
        }

        // Actualizar la interfaz según tus necesidades
        actualizarListaTalleresEnInterfaz();
    }

    function actualizarListaTalleresEnInterfaz() {
        var listaTalleresElement = document.getElementById('listaTalleres');
        listaTalleresElement.innerHTML = '';  // Limpiar la lista antes de actualizarla

        listaTalleres.forEach(function (taller) {
            var listItem = document.createElement('li');
            listItem.textContent = taller.nombre + ' - Precio: $' + taller.precio.toFixed(2) +
                ' - Cliente: ' + taller.clienteNombre + ' - RUT Cliente: ' + taller.clienteRut +
                ' - Cantidad: ' + taller.cantidad;

            listaTalleresElement.appendChild(listItem);
        });

        // También puedes realizar otras actualizaciones en tu interfaz si es necesario
    }
</script>
     <!-- Modal de confirmación de venta -->
        <div id="confirmacionVenta" class="modal fade" tabindex="-1" aria-labelledby="confirmacionVentaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="confirmacionVentaLabel">Confirmación de Venta</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Por favor, revisa los detalles de la venta antes de confirmar:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                    <th>Tipo de Pago</th>
                                </tr>
                            </thead>
                            <tbody id="detalleVentaBody">
                                <!-- Aquí se agregarán las filas con los detalles de la venta -->
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                    <td>{{ producto.nombre_producto }}</td>
                                    <td></td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="confirmarVentaBtn">CONFIRMAR</button>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}