{% extends 'app/base.html' %} {% block js %}
{% load humanize %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.6/datatables.min.css"/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.9/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- Archivo de idioma en español para DataTables -->
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"></script>

<script>
    function eliminarVenta(id) {
        Swal.fire({
            title: "¿Estas Seguro?",
            text: "Que deseas Eliminar este Venta",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Eliminar",
            reverseButtons: true,
            confirmButtonColor: "#dc3545",
        }).then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-venta/" + id + "/";
            }
        });
    }

    
</script>




<script>
    $(document).ready(function() {
        var table = $('#example');
    
        if (!$.fn.DataTable.isDataTable(table)) {
            table.DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                dom: 'lBfrtip', // Incluye 'l' para mostrar el selector de longitud de página
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "Todos"]], // Configura las opciones del selector
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'Excel',
                        className: 'btn-success',
                        title: 'Historial de Ventas',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-text-o"></i>',
                        titleAttr: 'CSV',
                        className: 'btn-info',
                        title: 'Historial de Ventas',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        className: 'btn-danger',
                        title: 'Historial de Ventas',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-solid fa-print"></i>',
                        titleAttr: 'Imprimir',
                        title: 'Historial de Ventas',
                        className: 'btn-secondary',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                    },
                ],
                customize: function (win) {
                    $(win.document.body).find('#example').css({
                        'transform': 'rotate(-90deg)',
                        'transform-origin': 'left top',
                        'white-space': 'nowrap'
                    });
                }
            });
        } else {
            table.DataTable().destroy();
            table.DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        }
    });
    </script>

{% endblock %}
{% block contenido %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
<div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 250px; margin: 10px; border-radius: 10px;" >
    <div class="col-md-12 mb-3" style="padding-top: 30px;">
      <div class="card" style="border-radius: 10px;" >
        <div class="card-header"  style="background-color: rgb(50, 49, 49); color: white;">
          <span><i class="bi bi-table me-2"></i></span> Historial ventas
          {% if perms.app.add_venta %}
                <a href="{% url 'agregar_venta' %}" class="btn btn-primary" style="float: right;"> Crear Venta</a>
            {% endif %}
        </div>
        <div class="card-body">
          <div class="table-responsive" >
            <table id="example" class="table table-striped data-table" style="width: 100% ;">          
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Fecha de Venta</th>
                            <th>Detalle de Venta</th>
                            <th>Tipo de Pago</th>
                            <th>total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in entity %}
                        <tr>
                            <td>{{ p.id_venta|upper }}</td>
                            <td>{{ p.fecha|upper }}</td>
                            <td>
                                {% if p.producto_id_producto %}
                                  {{ p.producto_id_producto.nombre_producto|upper }} - Cantidad: {{ p.cantidad_productos_vendidos|upper }}
                                {% elif p.taller_id_taller %}
                                  {{ p.taller_id_taller.get_tipo_arreglo_display|upper }}
                                {% endif %}
                            </td>
                            <td>{{ p.tipopago|upper }}</td>
                            <td>${{ p.total|intcomma|upper }}</td>
                            {% if perms.app.change_venta %}
                            {% if perms.app.delete_venta %}
                            <td>
                                <a href="{% url 'modificar_venta' p.id_venta %}" class="btn bi-pencil-square btn-info btn-md"></a>
                                               
                                <a href="#" onclick="eliminarVenta({{p.id_venta}})" class="btn bi-trash btn-danger btn-md"></a>
                            </td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    

                
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}