{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarVenta(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Venta",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-venta/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
<div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 250px; margin: 10px; border-radius: 10px;" >
    <div class="col-md-12 mb-3" style="padding-top: 30px;">
      <div class="card" style="border-radius: 10px;" >
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span> Historial ventas
          {% if perms.app.add_venta %}
                <a href="{% url 'agregar_venta' %}" class="btn btn-primary" style="float: inline-end;"> Crear Venta</a>
            {% endif %}
        </div>
        <div class="card-body">
          <div class="table-responsive" >
            <table id="example" class="table table-striped data-table" style="width: 100% ;">          
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre Cliente</th>
                            <th>Fecha Venta</th>
                            <th>Tipo de Servicio</th>
                            <th>Tipo de Pago</th>
                            <th>total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    {% for p in entity %}
                        <tbody>
                            <tr>
                                <td>{{ p.id_venta }}</td>
                                <td>{{ p.cliente.nombre }}</td>
                                <td>{{ p.fecha }}</td>
                                <td>{{ p.descripcion }}</td>
                                <td>{{ p.tipopago }}</td>
                                <td>{{ p.total }}</td>
                                {% if perms.app.change_venta %}
                                    <td><a href="{% url 'modificar_venta' p.id_venta %}" class="btn bi-pencil-square btn-info btn-md"></a></td>
                                {% endif %}
                                {% if perms.app.delete_venta %}
                                    <td><a href="#" onclick="eliminarVenta({{p.id_venta}})" class="btn bi-trash btn-danger btn-md"></a></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div>
                    {% include 'app/paginator.html' %}
                </div>
            </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
{% endblock %}