{% extends 'app/base.html' %} {% block js %}
{% load humanize %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    function eliminarVenta(id) {
        Swal.fire({
            title: "¿Estas Seguro?",
            text: "Que deseas Eliminar este Venta",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "Cancelar",
            confirmButtonText: "Eliminar",
            reverseButtons: true,
            confirmButtonColor: "#dc3545",
        }).then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-venta/" + id + "/";
            }
        });
    }
</script>
{% endblock %}
{% block contenido %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
<div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 250px; margin: 10px; border-radius: 10px;" >
    <div class="col-md-12 mb-3" style="padding-top: 30px;">
      <div class="card" style="border-radius: 10px;" >
        <div class="card-header"  style="background-color: rgb(50, 49, 49); color: white;">
          <span><i class="bi bi-table me-2"></i></span> Historial ventas
          {% if perms.app.add_venta %}
                <a href="{% url 'agregar_venta' %}" class="btn btn-primary" style="float: right;"> Crear Venta</a>
            {% endif %}
        </div>
        <div class="card-body">
          <div class="table-responsive" >
            <table id="example" class="table table-striped data-table" style="width: 100% ;">          
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Fecha de Venta</th>
                            <th>Detalle de Venta</th>
                            <th>Tipo de Pago</th>
                            <th>total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in entity %}
                        <tr>
                            <td>{{ p.id_venta }}</td>
                            <td>{{ p.fecha }}</td>
                            <td>
                                {% if p.producto_id_producto %}
                                  {{ p.producto_id_producto.nombre_producto }} - Cantidad: {{ p.cantidad_productos_vendidos }}
                                {% elif p.taller_id_taller %}
                                  {{ p.taller_id_taller.get_tipo_arreglo_display }}
                                {% endif %}
                            </td>
                            <td>{{ p.tipopago }}</td>
                            <td>${{ p.total|intcomma}}</td>
                            {% if perms.app.change_venta %}
                            {% if perms.app.delete_venta %}
                            <td>
                                <a href="{% url 'modificar_venta' p.id_venta %}" class="btn bi-pencil-square btn-info btn-md"></a>
                                <a href="#" onclick="eliminarVenta({{p.id_venta}})" class="btn bi-trash btn-danger btn-md"></a>
                            </td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}