{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}



<script>
    $(function (){
      $('#staticBackdrop').modal('show');
    });
  
    $('.close').on('click', function() {
      $('#staticBackdrop').modal('hide');
    });
  </script>
  
  <main class="mt-5 pt-3" style="background-color: rgb(255, 255, 255);" >
    <div class="modal fade" style=" padding-top: 100px;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header justify-content-center">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar proveedor</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">      
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="modal-footer">
                      <div class="d-flex justify-content-center">
                        <a href="{% url 'listar_proveedor' %}" value="Cancelar" class="btn btn-danger">Cancelar</a>
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary">
                      </div>
                    </div>
                </form>
                {{ mensaje }}
            </div>
          </div>
        </div>
    </div>
  </main>
{% endblock %}