{% extends 'app/base.html' %} 


{% block js %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.6/datatables.min.css"/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.9/css/buttons.dataTables.min.css"/>

<script>
  function eliminarProveedor(id) {
    Swal.fire({
      title: "¿Estás Seguro?",
      text: "¿Qué deseas Eliminar este Proveedor?",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        // Redirect to the delete URL
        window.location.href = "/eliminar-proveedor/" + id + "/";
      }
    });
  }
</script>

<script>
    $(document).ready(function () {
        // Verifica si ya existe una tabla DataTable y la destruye antes de volver a inicializarla
        if ($.fn.DataTable.isDataTable('#example')) {
            $('#example').DataTable().destroy();
        }
    
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            },
            dom: 'lBfrtip', // Incluye 'l' para mostrar el selector de longitud de página
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "Todos"]], // Configura las opciones del selector
            buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Excel',
                        className: 'btn-success',
                        title: 'Historial Proveedores',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)',
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                $('row c[r^="A"]', sheet).attr('s', '51');
                            }
                        },
                    },
                    {
                        extend: 'csvHtml5',
                        text:'<i class="fas fa-file-csv"></i>',
                        titleAttr: 'CSV',
                        className: 'btn-info',
                        title: 'Historial Proveedores',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF',
                        className: 'btn-danger',
                        title: 'Historial Proveedores',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        },
                        customize: function (doc) {
                            // Ajusta el tamaño del texto
                            doc.styles.tableHeader.fontSize = 10;
                            doc.styles.tableBodyEven.fontSize = 8;
                            doc.styles.tableBodyOdd.fontSize = 8;

                            // Ajusta la orientación del documento a horizontal
                            doc.pageOrientation = 'landscape';

                            // Aplica estilos adicionales al contenido del documento
                            var rowCount = doc.content[1].table.body.length;
                            for (var i = 0; i < rowCount; i++) {
                                doc.content[1].table.body[i].forEach(function (cell) {
                                    cell.alignment = 'center';
                                });
                            }
                        }
                    },
                {
                    extend: 'print',
                    text: '<i class="fa fa-solid fa-print"></i>',
                    titleAttr: 'Imprimir',
                    title: 'Historial Proveedores',
                    className: 'btn-secondary',
                    exportOptions: {
                        columns: ':visible:not(:last-child)'
                    },
                },
            ],
            customize: function (win) {
                $(win.document.body).find('#example').css({
                    'transform': 'rotate(-90deg)',
                    'transform-origin': 'left top',
                    'white-space': 'nowrap'
                });
            }
        });
    });
    </script>
{% endblock %} 
{% block contenido %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 420px; margin: 10px; border-radius: 10px;">
              <div class="col-md-12 mb-3" style="padding-top: 30px;">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header" style="background-color:#3F3F37; color: white;">
                            <span><i class="bi bi-table me-2"></i></span> Historial Proveedor
                            {% if perms.app.add_taller %}
                                <a href="{% url 'agregar_proveedor' %}" class="btn btn-primary" style="float: right;">Agregar Proveedor</a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped-columns table-hover data-table" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Telefono</th>
                                            <th>Categoría</th>
                                           
                                            <th>Web</th>
                                            {% if perms.app.change_proveedor %}
                                                {% if perms.app.delete_proveedor %}
                                            <th>Opciones</th>
                                            {% endif %}
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    
                                       
                                        <tbody>
                                          {% for p in entity %}
                                            <tr>
                                                <td>{{ p.formatted_rut }}</td>
                                                <td>{{ p.nombre_proveedor |capfirst }}</td>
                                                <td>{{ p.email }}</td>
                                                <td>+56 {{ p.fono }}</td>
                                                <td>{{ p.get_categoria_display }}</td>
                                                <td>{{ p.pagina_web }}</td>
                                                {% if perms.app.change_proveedor %}
                                                {% if perms.app.delete_proveedor %}

                                                    <td>
                                                        {% if perms.app.change_proveedor %}
                                                        <a href="{% url 'modificar_proveedor' p.rut_proveedor %}" class="btn bi-pencil-square btn-info btn-sm"></a>
                                                        {% endif %}
                                                        {% if perms.app.delete_proveedor %}
                                                        <a href="#" onclick="eliminarProveedor({{ p.rut_proveedor }})" class="btn  bi-trash btn-danger btn-sm"></a>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                    {% endif %}
                                            
                                               
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    
                                </table>
                                <div>
                                    {% include 'app/paginator.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
