{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarProveedor(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Proveedor",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-proveedor/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
            <h2>Historial de Proveedor</h2>
            {% if perms.app.add_proveedor %}
                <a href="{% url 'agregar_proveedor' %}" class="btn btn-primary"> Agregar Proveedor</a>
            {% endif %}
            <table>
                <tr>
                    <th>#</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Categoría</th>
                    <th>Web</th>
                    <th>Opciones</th>
                </tr>
        
                {% for p in entity %}
        
                    <tr>
                        <td>{{ p.id_proveedor  }}</td>
                        <td>{{ p.rut_proveedor  }}</td>
                        <td>{{ p.nombre_proveedor  }}</td>
                        <td>{{ p.email  }}</td>
                        <td>{{ p.fono   }}</td>
                        <td>{{ p.categoria  }}</td>
                        <td>{{ p.pagina_web  }}</td>
                        {% if perms.app.change_proveedor %}
                            <td><a href="{% url 'modificar_proveedor' p.id_proveedor %}" class="btn btn-info btn-sm">Modificar</a></td>
                        {% endif %}
                        {% if perms.app.delete_proveedor %}
                            <td><a href="#" onclick="eliminarProveedor({{p.id_proveedor }})" class="btn btn-danger btn-sm">Eliminar</a></td>
                        {% endif %}
                    </tr>
        
                {% endfor %}
            </table>

            <div>
                {% include 'app/paginator.html' %}
            </div>
            </div>
            </main>
{% endblock %}