{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarHistorial(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Historial",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-Historial/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}

            <h2>Historiales</h2>
            <a href="{% url 'agregar_historial' %}" class="btn btn-primary"> Crear Historial</a>
            <table>
                <tr>
                    <th>Nº</th>
                    <th>Tipo de Servicio</th>
                    <th>Nº Venta</th>
                    <th>Nº Producto</th>
                    <th>Rut Cliente</th>
                    <th>Rut Colaborador</th>
                    <th>Nº Taller</th>
                    <th>Opciones</th>
                </tr>
                <!--
    id_detalle = models.AutoField(primary_key=True)
    tipo_servicio = models.IntegerField()
    venta_id_venta = models.ForeignKey(Venta, on_delete = models.PROTECT)
    producto_id_producto = models.ForeignKey(Producto, on_delete = models.PROTECT)
    cliente_rut_cliente = models.ForeignKey(Cliente, on_delete = models.PROTECT)
    persona_rut_colaborador = models.ForeignKey(Persona, on_delete = models.PROTECT)
    taller_id_taller = models.ForeignKey(Taller, on_delete = models.PROTECT)
                -->
                       
                {% for p in entity %}
        
                    <tr>
                        <td>{{ p.id_detalle  }}</td>
                        <td>{{ p.tipo_servicio  }}</td>
                        <td>{{ p.venta_id_venta.venta_id_venta  }}</td>
                        <td>{{ p.producto_id_producto  }}</td>
                        <td>{{ p.cliente_rut_cliente  }}</td>
                        <td>{{ p.persona_rut_colaborador  }}</td>
                        <td>{{ p.taller_id_taller  }}</td>
                        <td><a href="{% url 'modificar_historial' p.id_detalle %}" class="btn btn-info btn-sm">Modificar</a></td>
                        <td><a href="#" onclick="eliminarHistorial({{p.id_detalle}})" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
        
                {% endfor %}
            </table>

            <div>
                {% include 'app/paginator.html' %}
            </div>
{% endblock %}