{% extends 'app/base.html' %}

{% block js %}
    <script>
        function eliminarHistorial(id){
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Que deseas Eliminar este Historial",
                "icon": "warning", 
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href = "/eliminar-Historial/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}

            <h2>Historiales</h2>
            {% if perms.app.add_historial %}
                <a href="{% url 'agregar_historial' %}" class="btn btn-primary"> Crear Historial</a>
            {% endif %}
            <table>
                <tr>
                    <th>Nº</th>
                    <th>Tipo de Servicio</th>
                    <th>Nº Venta</th>
                    <th>Nº Producto</th>
                    <th>Rut Cliente</th>
                    <th>Rut Colaborador</th>
                    <th>Nº Taller</th>
                    <th>Opciones</th>
                </tr>
                       
                {% for p in entity %}
        
                    <tr>
                        <td>{{ p.id_detalle  }}</td>
                        <td>{{ p.tipo_servicio  }}</td>
                        <td>{{ p.venta_id_venta.venta_id_venta  }}</td>
                        <td>{{ p.producto_id_producto  }}</td>
                        <td>{{ p.cliente_rut_cliente  }}</td>
                        <td>{{ p.persona_rut_colaborador  }}</td>
                        <td>{{ p.taller_id_taller  }}</td>
                        {% if perms.app.change_historial %}
                            <td><a href="{% url 'modificar_historial' p.id_detalle %}" class="btn btn-info btn-sm">Modificar</a></td>
                        {% endif %}
                        {% if perms.app.delete_historial %}
                            <td><a href="#" onclick="eliminarHistorial({{p.id_detalle}})" class="btn btn-danger btn-sm">Eliminar</a></td>
                        {% endif %}
                    </tr>
        
                {% endfor %}
            </table>

            <div>
                {% include 'app/paginator.html' %}
            </div>
{% endblock %}