{% extends 'app/base.html' %} {% block js %} {% load crispy_forms_tags %} {% load humanize %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.6/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.9/css/buttons.dataTables.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function eliminarProducto(id) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¿Qué deseas eliminar de este producto?",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-producto/" + id + "/";
      }
    });
  }
</script>


<script>
  $(document).ready(function () {
    $('#table_id').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
      // Verifica si ya existe una tabla DataTable y la destruye antes de volver a inicializarla
      if ($.fn.DataTable.isDataTable('#example')) {
          $('#example').DataTable().destroy();
      }
  
      $('#example').DataTable({
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
          },
          dom: 'lBfrtip', // Incluye 'l' para mostrar el selector de longitud de página
          lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "Todos"]], // Configura las opciones del selector
          buttons: [
              {
                  extend: 'excelHtml5',
                  text: '<i class="fa fa-file-excel-o"></i>',
                  titleAttr: 'Excel',
                  className: 'btn-success',
                  title: 'Historial Productos',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'csvHtml5',
                  text: '<i class="fa fa-file-text-o"></i>',
                  titleAttr: 'CSV',
                  className: 'btn-info',
                  title: 'Historial Productos',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'pdfHtml5',
                  text: '<i class="fa fa-file-pdf-o"></i>',
                  titleAttr: 'PDF',
                  className: 'btn-danger',
                  title: 'Historial Productos',
                  pageSize: 'LEGAL',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
              {
                  extend: 'print',
                  text: '<i class="fa fa-solid fa-print"></i>',
                  titleAttr: 'Imprimir',
                  title: 'Historial Productos',
                  className: 'btn-secondary',
                  exportOptions: {
                      columns: ':visible:not(:last-child)'
                  },
              },
          ],
          customize: function (win) {
              $(win.document.body).find('#example').css({
                  'transform': 'rotate(-90deg)',
                  'transform-origin': 'left top',
                  'white-space': 'nowrap'
              });
          }
      });
  });
  </script>
<script>
  $(function () {
    $(".btnAdd").on("click", function () {
      $("#mymodalclient").modal("show");
    });
  });
</script>

{{ block.super }}
<script>
  $(document).ready(function () {
    // Obtén todas las celdas de stock
    var stockCells = $('.stock-cell');

    // Itera sobre cada celda y aplica el color según el valor de stock
    stockCells.each(function () {
      var stockValue = parseInt($(this).text());
      aplicarColorStock($(this), stockValue);
    });

    $('.btn-agregar-cantidad').click(function () {
      var idProducto = $(this).data('id');
      var nombreProducto = $(this).data('nombre_producto');

      // Puedes utilizar la librería SweetAlert o cualquier otra modal de tu elección
      Swal.fire({
        title: 'Agregar Cantidad',
        html: `Nombre del Producto: ${nombreProducto}<br>Cantidad a agregar: <input type="number" id="cantidad-${idProducto}" min="1" value="1">`,
        showCancelButton: true,
        confirmButtonText: 'Agregar',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,
        preConfirm: () => {
          // Puedes acceder a la cantidad ingresada utilizando el ID del input
          var cantidad = $(`#cantidad-${idProducto}`).val();

          // Realiza una solicitud AJAX para agregar la cantidad al stock
          $.ajax({
            url: `/agregar-cantidad-stock/${idProducto}/`,
            method: 'POST',
            data: { cantidad: cantidad },
            success: function (data) {
                if (data.status === 'success') {
                    // Muestra un mensaje de éxito
                    Swal.fire({
                        title: 'Éxito',
                        text: data.message,
                        icon: 'success'
                    });
                    // Recarga la página
                    location.reload();
                } else {
                    // Muestra un mensaje de error
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error'
                    });
                }
            }
        });
        }
      });
    });
  });

  // Función para aplicar el color de fondo según el valor de stock
  function aplicarColorStock(stockCell, stockValue) {
    if (stockValue < 5) {
      stockCell.css('background-color', 'red');
      stockCell.css('color', 'white');
    } else {
      stockCell.css('background-color', 'green');
      stockCell.css('color', 'white');
    }
  }
</script>

{% endblock %} 

{% block contenido %}

<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 420px;margin: 10px;border-radius: 10px;">
      <div class="col-md-12 mb-3" style="padding-top: 30px">
        <div class="card" style="border-radius: 10px">
          <div class="card-header"style="background-color: #3F3F37; color: white">
            <span><i class="bi bi-table me-2"></i></span> Historial producto
              <a href="{% url 'agregar_producto' %}" class="btn btn-primary btn-flat btnAdd" style="float: right">Agregar Producto</a>
          </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped-columns table-hover data-table" style="width: 100%">
                  <thead>
                    <tr>
                      <th>Nº</th>
                      <th>Nombre Producto</th>
                      <th>Marca</th>
                      <th>Nombre Proveedor</th>
                      <th>Fecha Registro</th>
                      <th>Descripción</th>
                      <th>Precio Unitario</th>
                      <th>Stock</th>
                      <th>Categoria</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>

                  
                    <tbody>
                      {% for p in entity %}
                      <tr>
                        <td>{{ p.id_producto }}</td>
                        <td>{{ p.nombre_producto | capfirst }}</td>
                        <td>{{ p.marca }}</td>
                        <td>{{ p.proveedor.nombre_proveedor }}</td>
                        <td>{{ p.fecha_registro }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>${{ p.precio_unitario | intcomma }}</td>
                        <td class="stock-cell stock-cell-{{ p.id_producto }}">
                          {{ p.stock }} 
                          <button class="bi bi-box-arrow-up-right btn-agregar-cantidad" 
                                  data-id="{{ p.id_producto }}" 
                                  data-nombre_producto="{{ p.nombre_producto }}">
                          </button>
                        </td>
                        <td>{{ p.get_categoria_display }}</td>
                        {% if perms.app.change_producto %} {% if perms.app.delete_producto %}
                          <td>
                            <a href="{% url 'modificar_producto' p.id_producto %}" class="btn btn-info bi-pencil-square btn-md"></a>
                            <a href="#" onclick="eliminarProducto({{ p.id_producto }})" class="btn bi-trash btn-danger btn-md"></a>
                            
                          </td>
                        {% endif %} {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                
                </table>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}