{% extends 'app/base.html' %} {% block js %}
<script>
  function eliminarProducto(id) {
    Swal.fire({
      title: "¿Estas Seguro?",
      text: "Que deseas Eliminar este Producto",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-producto/" + id + "/";
      }
    });
  }
</script>
{% endblock %} {% block contenido %}
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div
      class="row"
      style="
        background-color: rgb(237, 239, 241);
        padding-bottom: 420px;
        margin: 10px;
        border-radius: 10px;
      "
    >
      <div class="col-md-12 mb-3" style="padding-top: 30px">
        <div class="card" style="border-radius: 10px">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Historial taller {% if
            perms.app.add_taller %}
            <a
              href="{% url 'agregar_producto' %}"
              class="btn btn-primary"
              style="float: inline-end"
            >
              Agregar Producto</a
            >
            {% endif %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                id="example"
                class="table table-striped-columns table-hover data-table"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Nombre Producto</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Precio Unitario</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>Opciones</th>
                  </tr>
                </thead>

                {% for p in entity %}
                <tbody>
                  <tr>
                    <td>{{ p.id_producto }}</td>
                    <td>{{ p.nombre_producto }}</td>
                    <td>{{ p.marca }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.precio_unitario }}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.categoria }}</td>
                    {% if perms.app.change_producto %} {% if
                    perms.app.delete_producto %}
                    <td>
                      <a
                        href="{% url 'modificar_producto' p.id_producto %}"
                        class="btn btn-info bi-pencil-square btn-md"
                      ></a>
                      <a
                        href="#"
                        onclick="eliminarProducto({{ p.id_producto }})"
                        class="btn bi-trash btn-danger btn-md"
                      ></a>
                    </td>
                    {% endif %} {% endif %}
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
            <div>{% include 'app/paginator.html' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
