{% extends 'app/base.html' %} {% block js %} {% load crispy_forms_tags %} {% load humanize %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
  function eliminarProducto(id) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¿Qué deseas eliminar de este producto?",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-producto/" + id + "/";
      }
    });
  }
</script>

<script>
  function eliminarCliente(id) {
    Swal.fire({
      "title": "¿Estas Seguro?",
      "text": "Que deseas Eliminar este Cliente",
      "icon": "warning",
      "showCancelButton": true,
      "cancelButtonText": "Cancelar",
      "confirmButtonText": "Eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "#dc3545"
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar-cliente/" + id + "/"
        }
      })
  }
</script>

<script>
  $(document).ready(function () {
    $('#table_id').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    $('#table_id').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json",
        "search": "Buscar:",
        "lengthMenu": "Mostrar _MENU_ registros por página",
        "zeroRecords": "No se encontraron resultados",
        // Otras opciones...
      }
    });
  });
</script>

<script>
  $(function () {
    $(".btnAdd").on("click", function () {
      $("#mymodalclient").modal("show");
    });
  });
</script>

{{ block.super }}
<script>
  $(document).ready(function () {
    // Obtén todas las celdas de stock
    var stockCells = $('.stock-cell');

    // Itera sobre cada celda y aplica el color según el valor de stock
    stockCells.each(function () {
      var stockValue = parseInt($(this).text());

      // Aplica el color rojo si el stock es menor que 5, de lo contrario, verde
      if (stockValue < 5) {
        $(this).css('background-color', 'red');
        $(this).css('color', 'white');  // Cambia el color del texto para que sea legible
      } else {
        $(this).css('background-color', 'green');
        $(this).css('color', 'white');  // Cambia el color del texto para que sea legible
      }
    });
  });
</script>


{% endblock %} 

{% block contenido %}

<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row" style="background-color: rgb(237, 239, 241); padding-bottom: 420px;margin: 10px;border-radius: 10px;">
      <div class="col-md-12 mb-3" style="padding-top: 30px">
        <div class="card" style="border-radius: 10px">
          <div class="card-header"style="background-color: #3F3F37; color: white">
            <span><i class="bi bi-table me-2"></i></span> Historial producto
              <a href="{% url 'agregar_producto' %}" class="btn btn-primary btn-flat btnAdd" style="float: right">Agregar Producto</a>
          </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped-columns table-hover data-table" style="width: 100%">
                  <thead>
                    <tr>
                      <th>Nº</th>
                      <th>Nombre Producto</th>
                      <th>Marca</th>
                      <th>Nombre Proveedor</th>
                      <th>Fecha Registro</th>
                      <th>Descripción</th>
                      <th>Precio Unitario</th>
                      <th>Stock</th>
                      <th>Categoria</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>

                  
                    <tbody>
                      {% for p in entity %}
                      <tr>
                        <td>{{ p.id_producto }}</td>
                        <td>{{ p.nombre_producto | capfirst }}</td>
                        <td>{{ p.marca }}</td>
                        <td>{{ p.proveedor.nombre_proveedor }}</td>
                        <td>{{ p.fecha_registro }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>${{ p.precio_unitario | intcomma }}</td>
                        <td class="stock-cell">{{ p.stock }}</td>
                        <td>{{ p.get_categoria_display }}</td>
                        {% if perms.app.change_producto %} {% if perms.app.delete_producto %}
                          <td>
                            <a href="{% url 'modificar_producto' p.id_producto %}" class="btn btn-info bi-pencil-square btn-md"></a>
                            <a href="#" onclick="eliminarProducto({{ p.id_producto }})" class="btn bi-trash btn-danger btn-md"></a>
                          </td>
                        {% endif %} {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                
                </table>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}