{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <head>
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.7/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/tblventa.css' %}" />
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
         
    </head>
</head>
<script>
    $(document).ready( function () {
      $('#example').DataTable(
{ "language":{"url":"//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"}});});
</script>

<body >

    
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color:rgb(52, 52, 52) ;">
        <div class="container-fluid">

            <!-- hamburguesa para abrir el nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="{% url 'inicio_admin' %}"> <img 
                    src="{% static 'app/img/logo.png' %}" alt="" style=" padding-left :20px; width:  160px; height: 29px;"></a>

            <!-- hamburguesa para abrir el nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
                aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="navbar-nav ms-auto my-3 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <!-- Menu usuarios -->
                            <i class="bi bi-person-fill  " style="color: rgb(255, 255, 255);"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="#">@ {{ user.username|upper }}</a></li>
                            <li class="my-2">
                                <hr class="dropdown-divider bg-light" />
                            </li>
                            <li> <a class="dropdown-item " href="{% url 'Profile_password_change' %}">Cambiar Contraseña</a></li>
                            <li class="my-2">
                                <hr class="dropdown-divider bg-light" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                            </li>
                            <li class="my-2">
                                <hr class="dropdown-divider bg-light" />
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <!-- menu menu  -->
    <div class="offcanvas offcanvas-start sidebar-nav " tabindex="-1" id="sidebar"
        style="background-color:rgb(52, 52, 52) ;">
        <div class="offcanvas-body p-2">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li style="padding-left: 10px;">
                        <div class="text-muted small fw-bold text-uppercase px-4 " style="padding-top: 10px ; ">Menú</div>
                    </li>
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <a href="{% url 'inicio_admin' %}" class="nav-link px-3 active" style="padding-top:5px;">
                            <span class="me-3"><i class="bi bi-house-door"></i></span>
                            <span style="padding-left: 17px;" >Inicio</span>
                        </a>
                    </li>
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a href="{% url 'listar_colaborador' %}" class="nav-link px-3 active" style="padding-top:5px;">
                            <span class="me-3"><i class="bi bi-people-fill"></i></span>
                            <span style="padding-left: 17px;">Colaborador</span>
                        </a>
                    </li>
                       
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a class="nav-link px-3 sidebar-link active" data-bs-toggle="collapse"
                            data-bs-target="#layouts2">
                            <span class="me-3"><i class="bi bi-person-bounding-box"></i></span>
                            <span style="padding-left: 17px;">Clientes</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts2">
                            <!-- ul despliega menu -->
                            <ul class="navbar-nav ps-3">
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'agregar_cliente' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-plus-fill"></i></span>
                                        <span>Registrar Clientes</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'listar_cliente' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-lines-fill"></i></span>
                                        <span>Historial De Clientes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a class="nav-link px-3 sidebar-link active" data-bs-toggle="collapse"
                            data-bs-target="#layouts3">
                            <span class="me-2"><i class="bi bi-bar-chart-line-fill"></i></span>
                            <span style="padding-left: 25px;">Ventas</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts3">
                            <!-- ul despliega menu -->
                            <ul class="navbar-nav ps-3">
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'agregar_venta' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-cart4"></i></span>
                                        <span>Crear Venta</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'listar_venta' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-graph-up"></i></span>
                                        <span>Historial De Ventas</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a class="nav-link px-3 sidebar-link active " data-bs-toggle="collapse"
                            data-bs-target="#layouts4">
                            <span class="me-2"><i class="bi bi-table"></i></span>
                            <span style="padding-left: 25px;">Taller</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts4">
                            <!-- ul despliega menu -->
                            <ul class="navbar-nav ps-3">
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'agregar_taller' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-calendar-plus-fill"></i></span>
                                        <span>Agendar Taller</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'list_taller' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-card-list"></i></span>
                                        <span>Historial De Taller</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a class="nav-link px-3 sidebar-link active" data-bs-toggle="collapse"
                            data-bs-target="#layouts5">
                            <span class="me-2"><i class="bi bi-stack"></i></span>
                            <span style="padding-left:25px;">Productos y Repuestos</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts5">
                            <!-- ul despliega menu -->
                            <ul class="navbar-nav ps-3">
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'agregar_producto' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-plus-square-fill"></i></span>
                                        <span>Nuevo Producto</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'listar_producto' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-subtract"></i></span>
                                        <span>Stock De Productos</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    {% if perms.app.add_regcolaborador %}
                    <li>
                        <a class="nav-link px-3 sidebar-link active" data-bs-toggle="collapse"
                            data-bs-target="#layouts7">
                            <span class="me-2"><i class="bi bi-truck"></i></span>
                            <span style="padding-left:25px;">Proveedores</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="layouts7">
                            <!-- ul despliega menu -->
                            <ul class="navbar-nav ps-6">
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'agregar_proveedor' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-plus-fill"></i></span>
                                        <span>Agregar Proveedor</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <hr class="dropdown-divider bg-light" />
                                </li>
                                <li>
                                    <a href="{% url 'listar_proveedor' %}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-shop-window"></i></span>
                                        <span>Listado De Proveedores</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li class="my-2">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                </ul>
                <footer style="color: white; text-align: center; padding-top: 30px; font-size: x-small; bottom: 0; " >
                    <p>&copy; 2023 Teryx | MiraBike. Todos los derechos reservados.</p>
                </footer>
            </nav>
        </div>
    </div>
    {% block contenido %}
    {% endblock %}
    </div>
    <!-- Scripts -->
    <script src="{% static '/app/js/menu.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static '/app/js/buscador.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="{% static 'app/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'app/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.7/datatables.min.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>

    
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "tittle": "Felicitaciones",
            "text": "{{ m }}",
            "icon": "success"
        })
    </script>

    {% endfor %}
    {% endif %}

    {% block js %}
    {% endblock %}
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    -->

</body>

</html>