{%  extends 'app/base.html' %}

{%  load static %}

{%  block contenido %}

<div class="box box3"> 
    <main class="tablavendedor">
        {{user.username}}
        <section class="tabla_body">
            <table>
            <thead>
                <tr>
                <th>Codigo</th>
                <th>Nombre producto</th>
                <th>Categoria</th>
                <th>Stock</th>
                <th>Precio</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>

                <tr>
                <td>001</td>
                <td>Neumaticos maxxis</td>
                <td>Neumaticos</td>
                <td>03</td>
                <td><strong>$25.000</strong></td>
                <td><button>Agregar</button></td>
                </tr>
            </tbody>
            </table>
        </section>
    </main>
    
</div>

{%  endblock %}