{%  extends 'app/base.html' %}

{%  load static %}

{%  block contenido %}


 <!-- offcanvas -->
 <main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="padding-bottom: 30px; padding-top: 30px; text-align: center;">
        <h4>Bievenido a teryx {{ user.username }}  </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card bg-primary text-white h-100" style="text-align: center;">
          <div class="card-body py-5"><p>Total de Clientes: {{ total_clientes }}</p></div>
        
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card bg-success text-white h-100" style="text-align: center;">
          <div class="card-body py-5"> <p>Total de Proveedores: {{ total_proveedores }}</p></div>
          
        </div>
      </div>
     
     
    </div>
    
  
  </div>
</main>


{%  endblock %}