{%  extends 'app/base.html' %}

{%  load static %}

{%  block contenido %}

<div class="box box3"> 
    <main class="tablavendedor" style="padding-top:300px;">
        <div class="card" >
            <h1 id="saludo" style="color: rgb(0, 0, 0);"></h1>
            <h1 style="color: rgb(0, 0, 0);">Bienvenido a Teryx</h1>
            <h2> {{user.username}} </h2>
        </div>
        <div class="cuadro-clientes">
            <h2>Conteo de Clientes</h2>
            <img src="{% static '/app/img/img_menu/clientes.png' %}" class="li_img" alt="" />
            <p>Total de Clientes: {{ total_clientes }}</p>
        </div>
        <div class="cuadro-proveedores">
            <h2>Conteo de Proveedores</h2>
            <img src="{% static '/app/img/img_menu/clientes.png' %}" class="li_img" alt="" />
            <p>Total de Proveedores: {{ total_proveedores }}</p>
        </div>
        
        <script src="{% static  '/app/js/scriptinicio.js' %} "></script>

    </main>
    
</div>

{%  endblock %}