{%  extends 'app/base.html' %}

{%  load static %}

{%  block contenido %}

<div class="box box3"> 
    <main class="tablavendedor" style="padding-top:300px;">
        <div class="card" >
            <h1 id="saludo" style="color: rgb(0, 0, 0);"></h1>
            <h1 style="color: rgb(0, 0, 0);">Bienvenido a Teryx</h1>
            <h2> {{user.username}} </h2>
        </div>
        

        <script src="{% static  '/app/js/scriptinicio.js' %} "></script>

    </main>
    
</div>

{%  endblock %}