{%  extends 'app/base.html' %}

<!--
    {% load static %}
-->
{%  block contenido %}
{% load crispy_forms_tags %}
    <div class="box box3"> 
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2> Registro Colaborador</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}    
                        {{ form | crispy }}
                        <br>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'inicio_admin' %}" class="btn btn-secondary">Volver Inicio</a>
                            &nbsp;
                            <button type="submit" value="btnEnviar" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                    {{mensaje}}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}